
<%- include("partials/header") %>

    <style>

        :root{
            --songImg: url(<%= song.cover_xl %>);
        }

        .bg{
            background-image: var(--songImg);
            filter: blur(10px);
            -webkit-filter: blur(10px);
        }

    </style>

    <div class="container-fluid">

        <div class="song-detail">

            <div class="card text-center mb-4" style="width: 30%; box-shadow: -5px -5px 15px black; border-radius: 15px; margin: 0 auto;">

                <img class="card-img-top" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" src=<%= song.cover_big %> alt="Cover image of song">
                
                <div class="card-body">

                    <h3 class="card-title"><strong><%= song.title %></strong></h3>
                    <p class="card-text"><%= song.artist %></p>

                </div>

            </div>
            

            <div class="progress">

                <div class="indicator">

                    <div id="completed"></div>
                    <input type="range" min="0" max="100" value="0" id="slider">

                </div>

                <ul class="buttons">
                    <li class="button"><i class="fas fa-backward fa-2x prev-button"></i></li>
                    <li class="button"><i class="fas fa-play-circle fa-4x playOrPause-button"></i></li>
                    <li class="button"><i class="fas fa-forward fa-2x next-button"></i></i></li>
                </ul>

                <h6 id="timeElapsed">00:00</h6>
                <h6 id="timeLeft">--:--</h6>

            </div>

            <audio src=<%= song.preview %> id="song"></audio>

        </div>

    </div>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/song.js"></script>

<%- include("partials/footer") %>