<%- include("partials/header") %>

<style>

    h1{

        color: white;

    }

    h4{

        color: white;
    }

    p{

        color: white;

    }

    a{
        color: white;

    }

    a:hover{

        text-decoration: none;
        color: white;

    }

    .coverImage {
        opacity: 0.6;
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
        box-shadow: -5px -5px 15px black;
    }

    .coverImage:hover {
        transform: scale(1.1);
        opacity: 1;
    }
</style>

    <div class="container-fluid">

        <div class="bg-image">
            <img style="filter: none; -webkit-filter: none;" src="/samples/background_image2.jpg" alt="Background Image">
        </div>

        <div id="content">

            <form action="/" class="form-inline" style="padding: 20px 0" method="POST">

                <div class="form-group mx-sm-3">
    
                    <input style="width: 400px;" class="form-control" type="text" name="searchQuery" placeholder="Search a song or artist">
    
                </div>
    
                <button type="submit" class="btn btn-lg btn-success">Search</button>
    
            </form>
            <% if(songs === null){ %>
    
                <h1>Search for songs and artists!</h1>
    
            <% }else{ %>
    
    
                <div class="row row-cols-1 row-cols-md-4">
    
                    <% songs.forEach(function(song){ %>
    
                        <div class="col mb-4 mt-4">
                            <a href="/songs/<%= song.id %> ">
                            <div class="card-transparent text-center">
    
                                <img class="coverImage" style="width: 85%; border-radius: 10px;" src=<%= song.cover_big %> alt="Cover image of song" class="card-img-top">
    
                                <div class="card-body">
    
                                    <h4 class="card-title"><strong><%= song.title %></strong></h4>
                                    <p class="card-text"><%= song.artist %></p>
    
                                </div>
    
                            </div>
                            </a>
                        </div>
                        
                    <% }); %>
    
                </div>
    
           <% } %>

        </div>


    </div>


<%- include("partials/footer") %>