<%- include("partials/header") %>

<style>

    h1{
        color: white;
    }

    h3{
        color: white;
    }

    p{
        color: white;
    }

    a{
        color: white;
    }

    a:hover{
        text-decoration: none;
        color: white;
    }

    #center-display{

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
    }


    #holder{

        position: relative;

    }

    #holder .dropdown{

        position: absolute;
        right: 40px;
        top: 10px;

    }

    .coverImage {
        opacity: 0.8;
        transform: scale(1);
        transition: transform 0.5s, opacity 0.5s;
        box-shadow: -5px -5px 15px black;
    }

    .coverImage:hover {
        transform: scale(1.06);
        opacity: 1;
    }

</style>

    <% if (showNavbar) { %>
        <%- include("partials/navbar") %>
    <% } %>
    <div class="container-fluid">
        
        <div>
            
            <% if(songs === null){ %>
    
                <h1 id="center-display">Search for songs and artists!</h1>
    
            <% }else{ %>
    
    
                <div class="row row-cols-1 row-cols-md-4">
    
                    <% songs.forEach(function(song){ %>
    
                        <div class="col mb-4 mt-4">
                            <a href="/songs/<%= song.id %> ">
                            <div class="card-transparent text-center">

                                <div id="holder">

                                    <img class="coverImage card-img-top" style="width: 85%; border-radius: 10px;" src=<%= song.cover_big %> alt="Cover image of song">
                                    <!-- <button class="btn btn-md btn-dark"><i class="fas fa-ellipsis-v"></i></button> -->
                                    <div class="dropdown dropleft">
                                        <a class="btn btn-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Add to Queue</a>
                                        <form action="/playlists" method="POST">
                                            
                                            <button class="dropdown-item" type="submit" name="songInfo" value="<%= JSON.stringify(song) %>">Add to Favourites</button>
                                            <!-- <a class="dropdown-item" type="submit">Add to Favourites</a> -->
                                            
                                        </form>
                                        </div>
                                      </div>

                                </div>        
                            
                                <div class="card-body">
    
                                    <h3 class="card-title"><strong><%= song.title %></strong></h3>
                                    <p class="card-text"><%= song.artist %></p>
    
                                </div>
    
                            </div>
                            </a>
                        </div>
                        
                    <% }); %>
    
                </div>
    
           <% } %>

        </div>


    </div>


<%- include("partials/footer") %>