<%- include("partials/header") %>

<style>

    body{

        background-color: #333333;

    }

    h1{

        color: white;

    }

    h4{

        color: white;
    }

    p{

        color: white;

    }

    a{
        color: white;

    }

    a:hover{

        text-decoration: none;
        color: white;

    }

</style>

    <div class="container-fluid">

        <form action="/" class="form-inline" style="padding: 20px 0" method="POST">

            <div class="form-group mx-sm-3">

                <input style="width: 400px;" class="form-control" type="text" name="searchQuery" placeholder="Search a song or artist">

            </div>

            <button type="submit" class="btn btn-success">Search</button>

        </form>

        <% if(songs === null){ %>

            <h1>Search for songs and artists!</h1>

        <% }else{ %>


            <div class="row row-cols-1 row-cols-md-4">

                <% songs.forEach(function(song){ %>

                    <div class="col mb-4 mt-4">

                        <div class="card-transparent text-center">

                            <img style="width: 400px; border-radius: 10px;" src=<%= song.cover_medium %> alt="Cover image of song" class="card-img-top">

                            <div class="card-body">

                                <h4 class="card-title"><strong><a href="/songs/<%= song.id %>"><%= song.title %></a></strong></h4>
                                <p class="card-text"><%= song.artist %></p>

                            </div>

                        </div>

                    </div>
                    
                <% }); %>

            </div>

       <% } %>

    </div>


<%- include("partials/footer") %>